$poster-width: 185px;

.film {
    margin: 50px;

    .poster {
       float: left;
       width: $poster-width;
    }
    
    .text-content {
        margin-left: $poster-width + 20px;
        margin-right: 20px;
        vertical-align: top;

        .genres {
            font-weight: bold;
            
        }

        i {
            margin: 10px;
            cursor: pointer;
        }
    }
}

.small-bottom-margin {
    margin-bottom: 10px;
}