@import "./../variable.scss";

.search {
    text-align: center;
    margin: 30px;

    .search-content {
        width: 500px;
        display: inline-block;
    }

    .left-margin {
        margin-left: 20px;
    }
}

.movies-container {
    margin: 50px;
    align-items: center;
    text-align: center;

    .paginator {
        width: 80%;
        display: inline-block;
    }

    .movie {
        display: inline-block;
        margin: 20px;
        width: 200px;
        align-items: center;
        text-align: center;
        cursor: pointer;
    
        img {
            width: $poster-width;
            height: $poster-height;
        }

        .movie-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-top: 15px;
            font-weight: bold;
        }
    }
}
