.search {
    text-align: center;
    margin: 30px;

    .search-button {
        margin-left: 20px;
    }
}

.films-container {
    margin: 50px;
}

.film {
    display: inline-block;
    margin: 20px;
    width: 128px;
}