@import "./../variable.scss";

.search {
    text-align: center;
    margin: 30px;

    .search-content {
        width: 400px;
        display: inline-block;
    }

    .search-button {
        margin-left: 20px;
    }
}

.films-container {
    margin: 50px;
    align-items: center;
    text-align: center;

    .paginator {
        width: 80%;
        display: inline-block;
    }
}

.film {
    display: inline-block;
    margin: 20px;
    width: 200px;
    align-items: center;
    text-align: center;
    cursor: pointer;

    img {
        width: $poster-width;
        height: $poster-height;
    }
}

.movie-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 15px;
    font-weight: bold;
}
