<div class="search">
    <mat-form-field>
        <input matInput placeholder="Film name" #filmName>
    </mat-form-field>
    <button mat-raised-button (click)="getSearchResult(filmName.value)" class="search-button">Search</button>
</div>
<div class="films-container">
    <mat-card class="film" *ngFor="let film of result" (click)="goToFilmDetail(film.id)">
        <div class="movie-poster"><img [src]="getMoviePoster(film)"></div>
        <div class="movie-title" [matTooltip]="getMovieTitleString(film)">{{getMovieTitleString(film)}}</div>
    </mat-card>
</div>